{% extends "base.html" %}
{% block title %}
{{movie.title}}
{% endblock title %}
{% block body %}


<style>
  #bg {
    aspect-ratio: 16/9;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.4)),
    url("/media/{{movie.img}}");

    background-size: cover;
  }

  .title {
    font-size: 4rem;
    font-weight: bold;
    color: white;
  }
  .content {
    padding-top: 10%;
    padding-left: 6%;
  }

  .genre {
    font-size: 1.5rem;
    color: whitesmoke;
    white-space: nowrap;
  }
  
  .duration {
    font-size: 1.5rem;
    color: whitesmoke;
    white-space: nowrap;
  }

  .year {
    font-size: 1.5rem;
    color: whitesmoke;
  }

  .desc {
    font-size: 1.25rem;
    color: whitesmoke;
  }

  .rbuy   > * {
    margin: 0.2rem;
    height: 100%;
    width: 23%;
    /* font style */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    /* background-color: #343a40;  */
  }

  .main-cast {
    padding-top: 35px; 
  }
  .nicecast {
    font-size: 1.2rem;
    color: whitesmoke;
    white-space: nowrap;
  }

</style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


<div id="bg">
  <div class="content">
    <h1 class="title">{{movie.title}}</h1>
    <div class="row" style = "display: flex;">
      <div class="col-1">
        <p class="genre">{{movie.genre}}</p>
      </div>
      <div class="col-1 ml-2 mr-1">
        <p class="duration"> {{hours}}hr {{minutes}}m</p>
      </div>
      <div class="col-1">
        <p class = "year">{{movie.release_year.year}}</p>   
      </div>
    </div>
    <!-- adding movie desciption in good format -->
    <div class="row">
      <div class="col-6">
        <p class="desc">{{movie.desc}}</p>
      </div>
    </div>
    <!-- to make buttons to rent and buy movies -->
    <div class="row">
      <div class="col-7 rbuy">
        <button type="button" class="btn btn-dark btn-lg disabled">Rent ₹{{movie.rent_price}} </button>
        <button type="button" class="btn btn-dark btn-lg disabled">Buy ₹{{movie.buy_price}}</button>
        <a style = "width: 10%;" type="button" class="btn btn-dark btn-lg" href="/add_to_cart/{{movie.id}}" ><i class="fas fa-cart-plus"  style="scale: 1.25;"></i></a>
      </div>
    </div>
    <!-- to display cast properly -->
    <div class="row main-cast">
        <div class="col-1"  style="max-width: 6.8%; padding-right: 0px">
          <p class="nicecast heado" style="color: rgb(169, 169, 169)">Starring: </p>
        </div>
        <div class="col-1" style="padding-left: 2px">
          <p class="nicecast">{{movie.cast}}</p>
        </div>
    </div>
  </div>
</div>
  {% endblock body %}
