{% extends "staffbase.html" %}
{% block title %}
Order
{% endblock title %}
{% block body %}

<style>
  .god{
    background: linear-gradient(90deg, #141e30 0%, #243b55 100%);

  }
        
        
        #progressbar-1 {
        color: #455A64;
        }
        
        #progressbar-1 li {
        list-style-type: none;
        font-size: 13px;
        width: 33.33%;
        float: left;
        position: relative;
        }
        
        #progressbar-1 #step1:before {
        content: "1";
        color: #fff;
        width: 29px;
        margin-left: 22px;
        padding-left: 11px;
        }
        
        #progressbar-1 #step2:before {
        content: "2";
        color: #fff;
        width: 29px;
        }
        
        #progressbar-1 #step3:before {
        content: "3";
        color: #fff;
        width: 29px;
        margin-right: 22px;
        text-align: center;
        }
        
        #progressbar-1 li:before {
        line-height: 29px;
        display: block;
        font-size: 12px;
        background: #455A64;
        border-radius: 50%;
        margin: auto;
        }
        
        #progressbar-1 li:after {
        content: '';
        width: 121%;
        height: 2px;
        background: #455A64;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 15px;
        z-index: -1;
        }
        
        #progressbar-1 li:nth-child(2):after {
        left: 50%
        }
        
        #progressbar-1 li:nth-child(1):after {
        left: 25%;
        width: 121%
        }
        
        #progressbar-1 li:nth-child(3):after {
        left: 25%;
        width: 50%;
        }
        
        #progressbar-1 li.active:before,
        #progressbar-1 li.active:after {
        background: #1266f1;
        }
        
        .card-stepper {
        z-index: 0
        }
</style>

<body class="god">
<section class="vh-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-10 col-lg-8 col-xl-6">
          <div class="card card-stepper" style="border-radius: 16px;">
            <div class="card-header p-4">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <p class="text-muted mb-2"> Order ID <span class="fw-bold text-body">{{order.order_id}}</span></p>
                  <p class="text-muted mb-0"> Place On <span class="fw-bold text-body">{{order.order_date}}</span> </p>
                </div>
              </div>
            </div>
            <div class="card-body p-4">
              <div class="d-flex flex-row mb-4 pb-2">
                <div class="flex-fill">
                  <h5 class="bold">{{order.movie.title}}</h5>
                  <h4 class="mb-3"> ₹{{order.total_price}} <span class="small text-muted"> via (Online) </span></h4>
                  {% if order.status == "Sold" %}
                  <p class="text-muted">SOLD</p>
                  {% else %}
                  <p class="text-muted">Due date: <span class="text-body">{{order.due_date}}</span></p>
                  {% endif %}
                </div>
                <div>
                  <img class="align-self-center img-fluid"
                    src="/media/{{order.movie.img}}" width="150">
                </div>
              </div>
              <ul class="mx-0 mt-0 mb-0 px-0 pt-0 pb-0">
                <p class="text-muted">Due date: <span class="text-body">{{order.due_date}}</span></p>
              </ul>
            </div>
            <div class="card-footer p-4">
              <div class="d-flex justify-content-between">
                <h5 class="fw-normal mb-0"><a href="#!">Track</a></h5>
                <div class="border-start h-100"></div>
                <h5 class="fw-normal mb-0"><a href="#!">Cancel</a></h5>
                <div class="border-start h-100"></div>
                <h5 class="fw-normal mb-0"><a href="#!">Pre-pay</a></h5>
                <div class="border-start h-100"></div>
                <h5 class="fw-normal mb-0"><a href="#!" class="text-muted"><i class="fas fa-ellipsis-v"></i></a>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
{% endblock body %}