{% extends "base.html" %}
{% block title %}
Search
{% endblock title %}
{% block body %}
    <style>

        h5.card-title {
            margin-bottom: 0;
        }

    </style>
<h1>Search results for '{{query}}':</h1>

    {% for i in moviesets %}
    <div class="card-group">
        {% for movie in i %}
        <div class="card">
        <img src='/media/{{movie.movie_img}}' class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{movie.movie_title}}</h5>
            <p class="card-text"><small class="text-muted">{{movie.movie_release_year.year}}</small></p>
            <p class="card-text">{{movie.movie_desc}}</p>
            <p class="card-text"><small class="text-muted">{{movie.movie_runtime}}</small></p>
        </div>
        </div>
        {% endfor %}
        </div>
    {% endfor %}
{% endblock body %}
