{% extends "staffbase.html" %}
{% block title %}
Orders
{% endblock title %}
{% block body %}

    <style>
        .god{
          background: linear-gradient(90deg, #141e30 0%, #243b55 100%);

        }
          
          .mask-custom {
            background: rgba(24, 24, 16, 0.2);
            border-radius: 2em;
            backdrop-filter: blur(25px);
            border: 2px solid rgba(255, 255, 255, 0.05);
            background-clip: padding-box;
            box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
          }
    </style>

<body class="god">
    <section class="vh-100 gradient-custom-2">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-12 col-xl-12">
      
              <div class="card mask-custom">
                <div class="card-body p-4 text-white">
      
                  <div class="text-center pt-1 pb-2">
                    <h2 class="my-4">Customer Orders - {{type}}</h2>
                  </div>
      
                  <table class="table text-white mb-0" >
                    <thead>
                      <tr>
                        <th scope="col">Order Id</th>
                        <th scope="col">Movie</th>
                        <th scope="col">User</th>
                        <th scope="col">Order Date</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <div  style = " margin: 5px; border-radius: 10px;">
                      {% comment %} {% for i in "loveaparna" %} {% endcomment %}
                      {% for order in orders %}
                    </tr>
                    <tr class="fw-normal">
                      <th class="border-0">
                        <span class="ms-2 text-white">{{order.id}}</span>
                      </th>
                      <td class="border-0 align-middle">Ask</td>
                      
                    </tr>
                    {% endfor %}
                </div>
                  </table>
      
      
                </div>
              </div>
      
            </div>
          </div>
        </div>
      </section>
    <body>
{% endblock body %}